@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 pt-5 my-5 text-center border-bottom">
    <h1 class="display-3">Welcome to Auto E-Garage</h1>
    <div class="mt-5 col-md-12">
    </div>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">"The perfect website for vehicle sellers."</p>
    </div>
    <div class="mt-5 col-md-12">
    </div>
    <h2 class="display-4">Account-less experience</h2>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">This site provides unlimited offer uploads without the hassle of creating an account. Just don't forget your keys :)</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
            <a class="btn btn-primary btn-lg px-4 me-sm-3 shadow-none" asp-area="" asp-controller="Vehicles" asp-action="Index">Go to Vehicles</a>
        </div>
    </div>
    <div class="overflow-hidden" style="max-height: 34vh;">
        <div class="container px-5">
            <img src="~/resources/porsche.png" class="img-fluid" alt="Image" width="700" height="500" loading="lazy">
        </div>
    </div>
</div>
